<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<base href="/">
		<link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" />
		<title>Home Page</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script type="text/javascript" src="../../public/assets/js/douche.js"></script>
	</body>
</html>