<body>
  <div class="header">
    <h1>Rude Dude</h1>
  </div>
  <div class="container"> 

 <div class="row">
   <div class="col-xs-6 col-md-4 col-lg-6">
          <div class="contentContainer">
            {{!-- <form method="GET" action="/api/textList"> --}}
            <form></form>
              <h2>Put in your text to see if it is rude!</h2>
              <br>
              <textarea rows="4" name="userInput" id="userInput"></textarea>
              <br>
              <button id="submit">Should You Send the Text?</button>
            </form>
          </div>
    </div>
  
  
  

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    

   <div class="col-xs-6 col-md-4 col-lg-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 2ex auto"></div>


<script>
{{!-- Highcharts.chart('container', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Rude Dude Breakdown'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Rude Dude',
    colorByPoint: true,
    data: [{
      name: 'Neutral',
      y: 100,
      sliced: true,
      selected: true
    }, {
      name: 'Rude',
      y: 0
    },]
  }]
}); --}}
 </script>
  </div>
  </div>
   </div>
  

</body>

</html>