<body>
  <div class="header">

    <body>
      <form>
        Put in your text to see if it is Douchey!
        <br>
        <input type="text" name="userInput" id="userInput">
        <h1>Rude Dude</h1>

  </div>
  <div class="contentContainer">
    <form method="POST" action="/userInput">
      <h2>Put in your text to see if it is rude!</h2>
      <br>
      <textarea rows="4" name="userInput" id="userInput">
</textarea>
      <br>
      <button id="submit">Should You Send the Text?</button>

      <h2>Score</h2>
      {{userScore}}

      <h2>Average Score Amongst Users</h2>

      {{averageScore}}

    </form>

    <h2>Check to see if your Favorite Celebrity is a Douche?</h2>
    <form>
      Put in your favorite celebrity Twitter handle to see if they are a douche!
      <br>
      <input type="text" name="userInput" id="celebrity">

      <br>
      <button id="submit">Is your favorite Celeb a D-Bag?</button>

      <h2>Douche Score</h2>
      {{celebScore}}

    </form>
  </div>
  </body>

  </html>