<<<<<<< HEAD
  <head>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600|Lato|Nunito|Signika:400,700" rel="stylesheet">
  </head>
  
  <body>
<div class="header">


<h1>Rude Dude</h1>
    
</div>
    <div class="contentContainer">
<form method="POST" action="/userInput">
<h2>Put in your text to see if it is rude!</h2>
<br>
 <textarea rows="4" name="userInput" id="userInput">
=======
<body>
  <div class="header">
        <h1>Rude Dude</h1>
  </div>
  <div class="contentContainer">
    <form method="POST" action="/userInput">
      <h2>Put in your text to see if it is rude!</h2>
      <br>
      <textarea rows="4" name="userInput" id="userInput">
>>>>>>> c39cd2fa229c81735dce3c3ba63b3381e30a9ac2
</textarea>
      <br>
      <button id="submit">Should You Send the Text?</button>

      <h2>Score</h2>
      {{userScore}}

      <h2>Average Score Amongst Users</h2>

      {{averageScore}}

    </form>
  </div>
  </body>

  </html>