  <body>
<div class="header">

<<<<<<< HEAD
<body>
<form>
Put in your text to see if it is Douchey!
<br>
 <input type = "text" name="userInput" id="userInput">
=======
>>>>>>> 6b4a4ea60dff2106226d5a9235c9a60eba546c5e

<h1>Douche Bag Detector</h1>
    
</div>
    <div class="contentContainer">
<form method="POST" action="/userInput">
<h2>Put in your text to see if it is Douchy!</h2>
<br>
 <textarea rows="4" name="userInput" id="userInput">
</textarea>
 <br>
 <button id="submit">Are you Douche?</button>

 <h2>Douche Score</h2>
 {{userScore}}

<h2>Average Score Amongst Users</h2>

{{averageScore}}

</form>
<<<<<<< HEAD

<h2>Check to see if your Favorite Celebrity is a Douche?</h2>
<form>
Put in your favorite celebrity Twitter handle to see if they are a douche! 
<br>
 <input type = "text" name="userInput" id="celebrity">

 <br>
 <button id="submit">Is your favorite Celeb a D-Bag?</button>

 <h2>Douche Score</h2>
 {{celebScore}}

</form>
=======
</div>
</body>
>>>>>>> 6b4a4ea60dff2106226d5a9235c9a60eba546c5e



</html>