  <body>
<div class="header">


<h1>Douche Bag Detector</h1>
    
</div>
    <div class="contentContainer">
<form>
<h2>Put in your text to see if it is Douchy!</h2>
<br>
 <textarea rows="4" name="userInput" id="userInput">
</textarea>
 <br>
 <button id="submit">Are you Douche?</button>

 <h2>Douche Score</h2>
 {{userScore}}

<h2>Average Score Amongst Users</h2>

{{averageScore}}

</form>
</div>
</body>


</html>