<body>
  <div class="header">
        <h1>Rude Dude</h1>
  </div>
<div>
      <h2>Average Score Amongst Users</h2>

  </div>



<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>


 </script>
  </div>
  
  </body>

  </html>