<body>
<div class="header">

<h1>Douche Bag Detector</h1>
</div>
<div class="contentContainer">


<h2>Check to See If Your Favorite Celebrity is a Douche?</h2>
<form method="POST" action="/userInput">
<h2>Put in your favorite celebrity Twitter handle to see if they are a douche!</h2> 
<br>
 <input type = "text" name="userInput" id="celebrity">

 <br>
 <button id="submit">Is Your Favorite Celeb a D-Bag?</button>

 <h2>Douche Score</h2>
 {{celebScore}}

</form>
</div>
</body>