<body>
<div class="header">

<h1>Rude Dude</h1>
</div>
<div class="contentContainer">


<h2>Check to See If Your Favorite Celebrity is a Rude Dude?</h2>
<form method="POST" action="/userInput">
<h2>Put in your favorite celebrity Twitter handle to see if they are a Rude Dude!</h2> 
<br>
 <input type = "text" name="userInput" id="celebrity">

 <br>
 <button id="submit">Is Your Favorite Celeb a Rude?</button>

 <h2>Rude Dude Score</h2>
 {{celebScore}}

</form>
</div>
</body>